<h1>Log in</h1>
<hr/>

<%= form_with url: '/login', local: true, :html =>{:id =>"form1"} do |form| %>
  <p>
    <%= label_tag :email %><br />
    <%= form.text_field :email, :required => true %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= form.password_field :password, :required => true%>
  </p>
  <p class="buttonn"><%= form.submit %></p>
<% end %>

