<div class="modal fade" id="loginModal" role="dialog">
  <div class="modal-dialog">

    <!-- content -->
    <div class="modal-content">


        <div class="modal-header">
          <button class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <% if !current_user %>
              <div class="login">
                <%= render 'sessions/new' %>
              </div>
            <div class="modal-footer" id="footer">
            <button class="btn btn-primary" style="float:left;" onclick="$('.login').hide();$('#footer').hide(); $('.div111').show();">
              Sign Up
            </button>
              <button class="btn btn-secondary" data-dismiss="modal">
                Close
              </button>
            </div>

            <% else %>
               <p>Username: <%= current_user.email %> <p/>
               <button> <%= link_to "Logout", '/logout'%></button>
              <button><%= link_to "New article", new_article_path %></button>
            <button><%= link_to "show article", articles_path %></button>
            <button><%= link_to "New article", new_article_path %></button>
            <% end %>

            <!-- Hide Sign up info, load on button click -->
            <div class="div111" style="display:none;" >
              <%= render 'users/new' %>
                <div class="modal hide fade" id="modal">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;    </button>
                  </div>
                  <div class="modal-body">
                  </div>
                </div>
              <div class="modal-footer">
              <button class="btn btn-primary" style="float:left;" onclick="$('.div111').hide();$('.login').show();$('#footer').show();">
                Log In
              </button>
                <button class="btn btn-secondary" data-dismiss="modal">
                  Close
                </button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
